@font-face {
  font-family: Evolventa;
  // font-display: fallback;
  src: local("Evolventa"), url("../global-assets/fonts/evolventa/Evolventa-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  // font-display: fallback;
  src: local("Evolventa Oblique"), url("../global-assets/fonts/evolventa/Evolventa-Oblique.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Evolventa;
  // font-display: fallback;
  src: local("Evolventa Bold"), url("../global-assets/fonts/evolventa/Evolventa-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  // font-display: fallback;
  src: local("Evolventa Bold Oblique"), url("../global-assets/fonts/evolventa/Evolventa-BoldOblique.woff");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}

html {
  ul {
    list-style: none;
  }
}

body {
  width: 100%;
  height: auto;
  background-color: #010101;

  .bg_opacity {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 10;
  }

  //Must be bg of congratulation window
  #bgBlur1,
  #bgBlur2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 20;
  }
}

.order-service {
  position: relative;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Evolventa";
  background-color: #0d0f11;

  .order-service__image {
    z-index: 11;

    img {
      width: 108px;
      height: 158px;
    }
  }

  .order-service__text {
    margin: 0 25px 0 35px;
    z-index: 11;

    h2 {
      font-size: 16px;
      color: #65b3fd;
      font-family: "Evolventa";
      font-weight: normal;
      text-transform: uppercase;
      padding: 12px 0 6px;
      margin-left: -2px;
    }

    p {
      width: 282px;
      height: 40px;
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      font-family: "Evolventa";
    }
  }

  .order-service__button {
    position: relative;
    z-index: 11;


    a {
      display: inline-block;
      width: 241px;
      height: 56px;
      line-height: 56px;
      border-radius: 10px;
      background-color: #0e1012;
      border: 1px solid #3eb5f1;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: #65b3fd;
    }

    &:after {
      content: "";
      position: absolute;
      top: -70px;
      right: -60px;
      width: 141px;
      height: 141px;
      background: url("../global-assets/img/flash.svg") no-repeat;
      z-index: -1;
    }
  }

  .order-service__line {
    position: absolute;
    height: 3px;
    width: 1280px;
    z-index: 9;
    background-image: linear-gradient(90deg, #0d0f11 15%, #a3d1ff 50%, #0d0f11 85%);

    &_top {
      top: 54px;
    }

    &_bottom {
      bottom: 49px;
    }
  }
}

// Modal window
.container {
  display: none;
  width: 1302px;
  height: 651px;
  z-index: 20;

  position: fixed;
  /* Stay in place */
  // z-index: 12;
  /* Sit on top */
  /* Location of the box */
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  overflow: auto;
  /* Enable scroll if needed */
  // background-color: rgb(44, 44, 44);
  background: url("../global-assets/img/bg-main2.png") no-repeat center/cover;
  font-family: "Evolventa";

  .loader_window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    z-index: 100;

    .loader_wrap {
      // background-color: red;
      overflow: hidden;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;

      .loader_text {
        height: 5rem;
        // background-color: #aaaaaa99;

        p {
          text-transform: uppercase;
          font-size: 3rem;
          font-weight: bold;
          letter-spacing: 1rem;
          line-height: 5rem;
        }
      }
    }

    // loader animate
    .lds-loader {
      display: inline-block;
      position: relative;
      width: 5rem; // 64px
      height: 5rem; // 64px
      // background-color: #aaa;

      div {
        display: inline-block;
        position: absolute;
        left: .2rem; // 6px
        width: .5rem; // 13px
        margin-top: .4rem;
        background: #fff;
        animation: lds-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }

      & div:nth-child(1) {
        left: .2rem; // 6px
        animation-delay: -0.24s;
      }

      & div:nth-child(2) {
        left: 1.1rem; // 26px
        animation-delay: -0.12s;
      }

      & div:nth-child(3) {
        left: 2.1rem; // left: 45px;
        animation-delay: 0;
      }
    }

    @keyframes lds-loader {
      0% {
        top: 6px;
        height: 51px;
      }

      50%,
      100% {
        top: 19px;
        height: 26px;
      }
    }
  }
}

.box {
  width: 100%;

  // Quit button
  .btn_wrap {
    position: absolute;
    width: 5%;
    height: 27%;
    top: 7%;
    left: 2.5%;
    padding: 0 .5rem;
    background: #111 url("../global-assets/img/header/btn_icon.png") no-repeat center/cover;
    font-size: .7rem;
    z-index: 21;
    // border-radius: .2rem;
    // background-image: linear-gradient(0deg, #55a7ff1a 0%, #55a7ff1a 100%);
    // border: .5px solid rgba(85, 167, 255, 0.8);

    .btn {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: rgba(221, 221, 221, 0);
      padding-top: 17%;
      text-align: right;
      font-size: .58rem;
      // background-color: #a3d1ff33;
    }
  }
}

// Header

.header {
  // display: none;
  position: relative;
  height: 15%;

  hr {
    position: absolute;
    top: 16%;
    left: 0;
    width: 64.5%;
    border: .5px solid #66666633;
  }

  .bottom {
    top: 23%;
    width: 65%;
  }

  .step_box {
    position: absolute;
    width: 33.5%;
    height: 85%;
    top: 8.5%;
    right: 1.1%;
    background: url("../global-assets/img/header/header-menu.png") no-repeat top/cover;
  }
}

// Main
.main {
  position: relative;
  // background-color: #007f0077;
  width: 100%;
  height: 85%;
  overflow: hidden;

  // &::after {
  //   content: "Loading...";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.4);
  //   color: #fff;
  // }

  // Wellcome window
  .wellcome_box {
    display: none;
    position: absolute;
    width: 37%;
    height: 61%;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);

    .wellcome_img {
      position: relative;
      width: 38.5%;
      height: 82%;
      float: left;
      margin: 6% 0 0 4.5%;
      z-index: 100;

      img {
        width: 100%;
        height: auto;
      }
    }

    .wellcome_text {
      position: relative;
      // background-color: rgba(127, 255, 212, 0.7);
      width: 45%;
      height: 60%;
      margin: 6% 0 0 47%;
      z-index: 100;

      h1 {
        // position: absolute;
        width: 100%;
        // font-size: 118%;
        font-size: 1.18rem;
        // font-size: $font-size * 100%;
        font-weight: normal;
        text-transform: uppercase;
        padding: 14% 0 0 0;
        line-height: 1.4;
        color: #55a7ff;

        span {
          color: #55a7ff;
          // font-size: 123%;
          font-size: 1.23rem;
        }
      }

      p {
        width: 85%;
        // font-size: 100%;
        font-size: 1rem;
        color: #ffffff;
        padding: 11% 0 0 0;
        line-height: 1.15;
      }
    }

    .wellcome_frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        width: 100%;
      }

      .bg {
        top: 4%;
        left: 4%;
        width: 91.5%;
      }

      .btn_wrap {
        position: absolute;
        width: 50%;
        height: 22%;
        top: 76%;
        left: 47%;
        border-radius: .5rem;
        background: rgba(7, 26, 31, 0.7);
        text-align: center;

        a {
          display: inline-block;
          text-transform: uppercase;
          // font-size: 130%;
          font-size: .91rem;
          margin-top: 7%;
          margin-left: -6%;
          padding: 3.5% 15%;
          // background-color: #555;
          // border: 1px solid #55a7ff;
          border-radius: .2rem;
          // box-shadow: 0px 1px 10px #55a7ffcc, 0px -1px 5px #55a7ffcc, -1px 0px 5px #55a7ffcc, 1px 0px 5px #55a7ffcc;
          // box-shadow: inset 0px 1px 5px #55a7ff, inset 0px -1px 5px #55a7ff, inset -1px 0px 5px #55a7ff, inset 1px 0px 5px #55a7ff;
          background-image: linear-gradient(0deg, #55a7ff1a 0%, #55a7ff1a 100%);
          border: .5px solid rgba(85, 167, 255, 0.8);
        }
      }
    }
  }

  // Congratulate box
  .congratulate_box {
    display: none;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 37%;
    z-index: 100;

    img {
      position: absolute;
      width: 90%;
      z-index: 100;
      // height: 80%;
    }

    .bg {
      position: absolute;
      // top: 100%;
      left: 3.8%;
      width: 82.5%;
      padding-top: 2%;
      // z-index: 100;
    }

    .congratulate_text {
      position: absolute;
      // background-color: rgba(127, 255, 212, 0.7);
      width: 45%;
      // height: 60%;
      // top: 50%;
      left: 34%;
      margin: 0;
      padding-top: 15.5%;
      z-index: 100;

      h1 {
        // font-size: 140%;
        font-size: 1.4rem;
        font-weight: normal;
        text-transform: uppercase;
        // padding: 14% 0 0 0;
        // line-height: 1.4;
        color: #55a7ff;

      }

      p {
        //width: 85%;
        // font-size: 93%;
        font-size: .93rem;
        color: #ffffff;
        padding: 1% 0 0 0;
        line-height: 1.1;

        span {
          color: #55a7ff;
          // font-size: 100%;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }

      & p:last-child {
        padding-top: 9%;
      }
    }

    #quiz2_text,
    #quiz3_text,
    #quiz4_text,
    #quiz5_text {
      opacity: 0;
    }
    #quiz4_text{
      width: 50%;
    }

    .btn_wrap {
      position: absolute;
      width: 50%;
      height: 22%;
      margin-top: 46%;
      left: 40%;
      background-color: rgba(7, 26, 31, 0);
      text-align: center;
      z-index: 100;

      a {
        display: inline-block;
        text-transform: uppercase;
        // font-size: 118%;
        font-size: .91rem;
        // margin-top: 7%;
        // margin-left: -6%;
        padding: 3.2% 10% 2.8%;
        margin-top: 1%;
        // background-color: #555;
        // border: 1px solid #55a7ff;
        border-radius: .2rem;
        // box-shadow: 0px 1px 10px #55a7ffcc, 0px -1px 5px #55a7ffcc, -1px 0px 5px #55a7ffcc, 1px 0px 5px #55a7ffcc;
        // box-shadow: inset 0px 1px 5px #55a7ff, inset 0px -1px 5px #55a7ff, inset -1px 0px 5px #55a7ff, inset 1px 0px 5px #55a7ff;
        background-image: linear-gradient(0deg, #55a7ff1a 0%, #55a7ff1a 100%);
        border: .5px solid rgba(85, 167, 255, 0.8);
        z-index: 100;
      }
    }

    .svg_wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      // background-color: rgba(255, 127, 80, 0.349);

      .ellipse1 {
        position: absolute;
        margin-top: 3.5%;
        left: 5.5%;
        width: 14%;
        transform: rotateZ(90deg);
      }

      .ellipse2 {
        position: absolute;
        margin-top: 4.7%;
        left: 6.8%;
        width: 11%;
        // box-shadow: inset 0px 1px 5px #55a7ff, inset 0px -1px 5px #55a7ff, inset -1px 0px 5px #55a7ff, inset 1px 0px 5px #55a7ff;
        // transform: rotateZ(90deg);
      }

      .lightning {
        position: absolute;
        margin-top: 6%;
        left: 9.5%;
        width: 6.5%;
      }

      .eman {
        position: absolute;
        margin-top: 23%;
        left: 8.5%;
        width: 21%;
      }

      .line1 {
        position: absolute;
        margin-top: 50%;
        left: 5%;
        width: 43%;
      }

      .line2 {
        position: absolute;
        margin-top: 9%;
        left: 24%;
        width: 61.4%;
      }
    }
  }


  // Level 0
  .level {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;

    .indicator {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8%;
      width: 7rem;
      height: 7rem;
      background: url("../global-assets/img/level-0/indicator.png") no-repeat center/cover;
    }

    .level_0 {
      // display: none;
      position: relative;
      width: 100%;
      height: 100%;

      .ldt-power-on {
        -webkit-transform: scale(0.05, 0.05);
        transform: scale(0, 0);
        -webkit-animation: ldt-power-on 1s forwards 5s;
        animation: ldt-power-on 1s forwards 5.5s;
      }

      @keyframes ldt-power-on {

        0%,
        20%,
        100% {
          animation-timing-function: cubic-bezier(0, 0, 0, 1);
        }

        0% {
          -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
        }

        20% {
          -webkit-transform: scale(1, 0.1);
          transform: scale(1, 0.1);
        }

        100% {
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }

      .level_0_q_box {
        position: relative;
        // top: -100%;
        left: 2%;
        width: 22rem;
        height: 34rem;
        background: url("../global-assets/img/question/q_box.png") no-repeat center/cover;
        // animation: q_box 1.3s linear 4s forwards;
        // animation-fill-mode: forwards;

        .form_wrap {
          // position: relative;
          width: 80%;
          // height: 100%;
          margin: 0 auto;
          padding-top: 10%;
          // animation: q_box_form 1s linear;

          form {
            width: 100%;
            font-size: .7rem;
            font-family: "Evolventa";
            line-height: 2.5;

            label {
              color: rgba(255, 255, 255, 0.5);
              top: -10px;
              // color: red;
            }

            legend {
              font-size: .85rem;
              line-height: 1.3;
              padding: .5rem 0 1.2rem;
            }

            input[type="radio"]:checked+label {
              font-weight: bold;
              color: #fff;
            }
            input[type="text"] {
              width: 96%;
              height: 2rem;
              margin: 0 0 5%;
              padding: 0 1%;
              box-sizing: border-box;
              font-size: .7rem;
              background-color: #88888800;
              border: 1px solid rgba(136, 136, 136, 0.3);
              box-shadow: inset 0 0 .3rem .5rem rgba(0, 0, 0, 0.1);
            }

            textarea {
              width: 96%;
              height: 3rem;
              margin: 1% 0 0 2%;
              box-sizing: border-box;
              font-size: .8rem;
              background-color: #88888800;
              border: 1px solid rgba(136, 136, 136, 0.3);
              box-shadow: inset 0 0 .3rem .5rem rgba(0, 0, 0, 0.1);
              resize: none;
            }
            
            ul {
              li {
                position: relative;

                .cont-label {
                  display: block;
                  padding-left: 1.5rem;
                  user-select: none;
                  cursor: pointer;

                  input {
                    position: absolute;
                    opacity: 0;

                    &:checked~.checkmark:after {
                      display: block;
                    }
                  }

                  .checkmark {
                    position: absolute;
                    top: .35rem;
                    left: 0;
                    height: .9rem;
                    width: .9rem;
                    box-shadow: 0 0 .2rem rgba(255, 255, 255, .5);
                    border-radius: 50%;

                    &:after {
                      content: "";
                      position: absolute;
                      display: none;
                      top: 50%;
                      left: 50%;
                      width: 85%;
                      height: 85%;
                      border-radius: 50%;
                      background: #00b5ff;
                      box-shadow: inset 0 10px 10px rgba(0,0,0,.5);
                      transform: translate(-50%,-50%);
                    }
                  }
                }
              }
            }
            .check-radio {
              position: absolute;
              top: 90%;
              left: 50%;
              width: 90%;
              text-align: center;
              border-top: 0px solid #00b5ff;
              transform: translate(-50%,-50%);

              p {
                margin-top: .5rem;
                color: #00b5ff;
                line-height: 1.2;
              }
          }
          }

          #form1To2,
          #form2To3,
          #form3To4,
          #form4To5 {
            display: none;
          }
          
          #form2To3 {
            .check-radio {
              p {
                margin-top: 0rem;
              }
          }
          }
        }

        .q_btn {
          position: absolute;
          width: 37%;
          height: 9%;
          right: 1.2%;
          bottom: -1.2%;
          background-color: #fff;
          background: url("../global-assets/img/question/q_box_btn.png") no-repeat center/cover;
          text-align: center;

          a {
            display: inline-block;
            text-transform: uppercase;
            margin-top: .5rem;
            padding: 4% 25%;
          }
          #btnNextLevel3 {
            padding: 4% 15%;
          }
        }
      }

      .compass_box {
        position: absolute;
        top: 2.5%;
        right: 3%;
        width: 15rem;
        height: 15rem;
        background: url("../global-assets/img/level-0/compass.svg") no-repeat center/cover,
          url("../global-assets/img/level-0/compass/compass-0.png") no-repeat center;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 6.8%;
          left: 6.5%;
          width: 86%;
          height: 86%;
          border-radius: 50%;
          border: 1px solid rgba(170, 170, 170, 0.2);
          box-shadow: 0 0 3px 1px rgba(170, 170, 170, 0.2);
        }
      }

      .level_0_step_line {
        position: absolute;
        width: 100%;
        height: 70%;
        top: 0%;
        left: 0%;
        background-color: #55a7ff88;
        background: url("../global-assets/img/level-0/line.svg") no-repeat center;

      }

      .step_point {
        position: absolute;
        width: 10%;
        height: 20%;

        // Animation indicator
        @keyframes indicator {
          0% {
            opacity: .1;
            // transform: scale(0, 1);
          }

          100% {
            opacity: 1;

          }
        }

        @keyframes loader {
          0% {
            opicity: 1;
            filter: blur(0px);
          }

          100% {
            opacity: 0;
            filter: blur(5px);
          }

        }

        @keyframes q_box {
          from {
            top: -50rem;
          }

          to {
            top: 0;
          }
        }

        @keyframes robot {
          0% {
            opacity: .8;
            // transform: scale(.95);
          }

          100% {
            opacity: 1;

          }
        }

      }

      .step_animated {
        animation: step .8s linear infinite alternate;
      }

      .step_point_before {
        position: absolute;
        width: 10%;
        height: 20%;

        &::before {
          content: "";
          position: absolute;
          // top: 14%;
          top: 50%;
          // transform: translateY(-50%);
          left: 4%;
          width: 7.5em;
          height: 7.5rem;
          background: url("../global-assets/img/levels/level_active.png") no-repeat center;
          // animation: indicator .8s linear infinite alternate;
          z-index: -1;
        }
      }

      .step_point_after {
        position: absolute;
        width: 10%;
        height: 20%;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0%;
          width: 8rem;
          height: 8rem;
          background: url("../global-assets/img/level-0/indicator.png") no-repeat center/cover;
          animation: indicator .8s linear infinite alternate;
        }
      }

      .point_0 {
        top: 0;
        left: 29%;
        background: url("../global-assets/img/levels/level0.png") no-repeat center;
        animation: robot .3s linear infinite alternate;
        // background: url("../global-assets/img/levels/level0.png") no-repeat center;

        &::before {
          display: block;
          top: 50%;
        }

        &::after {
          display: none;
        }
      }

      .point_1 {
        top: 13%;
        left: 47.5%;
        background: url("../global-assets/img/levels/level1.png") no-repeat center;

        // &::before {
        //   display: none;
        //   // top: 50%;
        // }

        // &::after {
        //   display: block;
        // }
      }

      .point_2 {
        top: 19%;
        left: 68.5%;
        background: url("../global-assets/img/levels/level2.png") no-repeat center;
      }

      .point_2_before {
        
        &::before {
          content: "";
          position: absolute;
          top: 70%;
          left: 0;
          width: 7.5em;
          height: 7.5rem;
          background: url("../global-assets/img/levels/level_active.png") no-repeat center;
          z-index: -1;
        }
      }

      .point_3 {
        top: 51%;
        left: 77%;
        background: url("../global-assets/img/levels/level3.png") no-repeat center;

        // &::before {
        //   display: none;
        //   // top: 50%;
        // }

        // &::after {
        //   display: none;
        // }
      }

      .point_4 {
        top: 49%;
        left: 34.5%;
        background: url("../global-assets/img/levels/level4.png") no-repeat center;
      }
      .point_4_before {
        
        &::before {
          content: "";
          position: absolute;
          top: 60%;
          left: 4.5%;
          width: 7.5em;
          height: 7.5rem;
          background: url("../global-assets/img/levels/level_active.png") no-repeat center;
          z-index: -1;
        }
      }

      .point_5 {
        bottom: 3.8%;
        left: 56%;
        background: url("../global-assets/img/levels/level5.png") no-repeat center;
      }
      .point_5_before {
        
        &::before {
          content: "";
          position: absolute;
          top: 60%;
          left: 2%;
          width: 7.5em;
          height: 7.5rem;
          background: url("../global-assets/img/levels/level_active.png") no-repeat center;
          z-index: -1;
        }
      }

      // Lines between steps
      .line_0to5 {
        position: absolute;
        height: .5px;
        background-color: #cccccc33;
        transform-origin: top left; // or 0 0 
        // border: 1.3px solid #cccccc1a;
      }

      .line_0to1 {
        top: 20%;
        left: 34%;
        width: 18.5%;
        transform: rotate(8deg);
      }

      .line_1to2 {
        top: 26%;
        left: 52.5%;
        width: 21%;
        transform: rotate(7.4deg);
      }

      .line_2to3 {
        top: 32.6%;
        left: 73.5%;
        width: 15.9%;
        transform: rotate(58deg);
      }

      .line_3to4 {
        top: 62.2%;
        left: 40%;
        width: 42%;
        transform: rotate(1.3deg);
      }

      .line_4to5 {
        top: 63%;
        left: 40%;
        width: 24%;
        transform: rotate(28deg);
      }
    }

    // background-color: #ffffff3a;
  }
}


// Level 1
@import "level1";