@font-face {
  font-family: Evolventa;
  src: local("Evolventa"), url("/fonts/evolventa/Evolventa-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Oblique"), url("/fonts/evolventa/Evolventa-Oblique.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold"), url("/fonts/evolventa/Evolventa-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold Oblique"), url("/fonts/evolventa/Evolventa-BoldOblique.woff");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}

.container {
  width: 1302px;
  height: 700px;
}

.box {
  width: 100%;

  .btn_wrap {
    position: absolute;
    width: 5.7%;
    height: 25%;
    top: 7%;
    left: 2.2%;
    padding: 0 5px;
    background-color: #888;
    font-size: .7rem;

    .btn {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: #ddd;
      padding-top: 10%;
    }
  }
}

.header {
  position: relative;
  height: 15%;
  padding-top: 1.2%;
  background-color: red;
  clip-path: polygon(0 0, 100%0, 100%100%, 70%100%, 66%40%, 0 40%);

  hr {
    margin: 0 0 .3% 0;
    width: 64.5%;
    border: .5px solid #666;
  }

  .bottom {
    width: 65%;
  }

  .step_box {
    position: absolute;
    width: 34%;
    height: 80%;
    top: 8.5%;
    right: 1.1%;
    background-color: rgba($color: #aaa, $alpha: 0.5);
    clip-path: polygon(0 0, 100%0, 100%100%, 16%100%);
  }


}

.main {
  // width: 100%;
  position: relative;
  background-color: green;
}

.footer {
  background-color: blue;
}