@font-face {
  font-family: Evolventa;
  src: local("Evolventa"), url("../fonts/evolventa/Evolventa-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Oblique"), url("../fonts/evolventa/Evolventa-Oblique.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold"), url("../fonts/evolventa/Evolventa-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold Oblique"), url("../fonts/evolventa/Evolventa-BoldOblique.woff");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}

.container {
  width: 1302px;
  height: 651px;
  // background-color: rgb(44, 44, 44);
  background: url(../img/bg2.svg) no-repeat center/cover;
  font-family: "Evolventa";
}

.box {
  width: 100%;

  .btn_wrap {
    position: absolute;
    width: 5.7%;
    height: 25%;
    top: 7%;
    left: 2.2%;
    padding: 0 5px;
    background-color: red;
    font-size: .7rem;

    .btn {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: #ddd;
      padding-top: 10%;
    }
  }
}

// Header
.header {
  // display: none;
  position: relative;
  height: 15%;
  padding-top: 1.2%;
  // background-color: red;
  clip-path: polygon(0 0, 100%0, 100%100%, 70%100%, 66%40%, 0 40%);

  hr {
    margin: 0 0 .3% 0;
    width: 64.5%;
    border: .5px solid #666;
  }

  .bottom {
    width: 65%;
  }

  .step_box {
    position: absolute;
    width: 34%;
    height: 80%;
    top: 8.5%;
    right: 1.1%;
    background-color: rgba($color: #aaa, $alpha: 0.5);
    clip-path: polygon(0 0, 100%0, 100%100%, 16%100%);
  }


}


// Main
.main {
  position: relative;
  // background-color: #007f0077;
  width: 100%;
  height: 85%;
  overflow: hidden;

  .wellcome_box {
    position: absolute;
    width: 37%;
    height: 61%;
    top: 13%;
    left: 11.5%;
    // background-color: #aaa;

    .wellcome_img {
      position: relative;
      // background-color: rgba(127, 255, 212, 0.7);
      width: 38.5%;
      height: 82%;
      float: left;
      margin: 6% 0 0 4.5%;
      z-index: 100;

      img {
        width: 100%;
        height: auto;
      }
    }

    .wellcome_text {
      position: relative;
      // background-color: rgba(127, 255, 212, 0.7);
      width: 45%;
      height: 60%;
      margin: 6% 0 0 47%;
      z-index: 100;

      h1 {
        font-size: 118%;
        font-weight: normal;
        text-transform: uppercase;
        padding: 14% 0 0 0;
        line-height: 1.4;
        color: #55a7ff;

        span {
          color: #55a7ff;
          font-size: 123%;
        }
      }

      p {
        width: 85%;
        font-size: 100%;
        color: #ffffff;
        padding: 11% 0 0 0;
        line-height: 1.15;
      }
    }

    .wellcome_frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: #868686bd;
      // clip-path: polygon(6%0, 94%0, 97%3%, 97%10%, 100%13%, 100% 40%,
      //   97%43%, 97%70%, 94%73%, 48%73%, 46%76%, 46%97%, 43%100%, 6%100%,
      //   3%97%, 3%63%, 0 60%, 0 36%, 3%33%, 3%3%);

      // &_inner {
      //   background-color: #333333b4;
      //   clip-path: polygon(7.5% 4%, 46%4%, 48.5%7%, 92% 7%, 94.5%10%, 94.5%67%,
      //     92%69%, 46%69%, 43.5%73%, 43.5%93%, 41%95.5%, 8%95.5%, 5.5%93%,
      //     5.5%6%);
      // }

      img {
        position: absolute;
        width: 100%;
      }

      .bg {
        top: 4%;
        left: 4%;
        width: 91.5%;
      }

      .btn_wrap {
        position: absolute;
        width: 50%;
        height: 22%;
        top: 76%;
        left: 47%;
        border-radius: .5rem;
        background-color: rgba(7, 26, 31, 0.7);
        text-align: center;

        a {
          display: inline-block;
          text-transform: uppercase;
          font-size: 130%;
          margin-top: 7%;
          margin-left: -6%;
          padding: 3.5% 15%;
          // background-color: #555;
          // border: 1px solid #55a7ff;
          border-radius: .2rem;
          // box-shadow: 0px 1px 10px #55a7ffcc, 0px -1px 5px #55a7ffcc, -1px 0px 5px #55a7ffcc, 1px 0px 5px #55a7ffcc;
          // box-shadow: inset 0px 1px 5px #55a7ff, inset 0px -1px 5px #55a7ff, inset -1px 0px 5px #55a7ff, inset 1px 0px 5px #55a7ff;
          background-image: linear-gradient(0deg, #55a7ff1a 0%, #55a7ff1a 100%);
          border: .5px solid rgba(85, 167, 255, 0.8);
        }
      }
    }

    .congratulate_container {
      position: absolute;
      top: 2%;
      left: 124%;
      width: 100%;
      height: 100%;

      // background: url("../img/congratulate-window/bg.svg") no-repeat cover;

      img {
        position: absolute;
        width: 90%;
        // height: 80%;
      }

      .bg {
        top: 3%;
        left: 3.8%;
        width: 82.5%;

      }

      .congratulate_text {
        position: absolute;
        // background-color: rgba(127, 255, 212, 0.7);
        width: 45%;
        // height: 60%;
        top: 23%;
        left: 34%;
        margin: 0;
        // z-index: 100;

        h1 {
          font-size: 140%;
          font-weight: normal;
          text-transform: uppercase;
          // padding: 14% 0 0 0;
          // line-height: 1.4;
          color: #55a7ff;

        }

        p {
          width: 85%;
          font-size: 93%;
          color: #ffffff;
          padding: 1.5% 0 0 0;
          line-height: 1.1;

          span {
            color: #55a7ff;
            font-size: 100%;
            text-transform: uppercase;
          }
        }

        & p:last-child {
          padding-top: 10%;
        }
      }

      .btn_wrap {
        position: absolute;
        width: 50%;
        height: 22%;
        top: 67%;
        left: 39.5%;
        // border-radius: .5rem;
        background-color: rgba(7, 26, 31, 0);
        text-align: center;
        z-index: 10;

        a {
          display: inline-block;
          text-transform: uppercase;
          font-size: 118%;
          // margin-top: 7%;
          // margin-left: -6%;
          padding: 3.5% 11%;
          // background-color: #555;
          // border: 1px solid #55a7ff;
          border-radius: .2rem;
          // box-shadow: 0px 1px 10px #55a7ffcc, 0px -1px 5px #55a7ffcc, -1px 0px 5px #55a7ffcc, 1px 0px 5px #55a7ffcc;
          // box-shadow: inset 0px 1px 5px #55a7ff, inset 0px -1px 5px #55a7ff, inset -1px 0px 5px #55a7ff, inset 1px 0px 5px #55a7ff;
          background-image: linear-gradient(0deg, #55a7ff1a 0%, #55a7ff1a 100%);
          border: .5px solid rgba(85, 167, 255, 0.8);
          z-index: 10;
        }
      }

      .svg_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(255, 127, 80, 0.349);

        .ellipse1 {
          position: absolute;
          top: 4%;
          left: 5.5%;
          width: 14%;
          transform: rotateZ(90deg);
        }

        .ellipse2 {
          position: absolute;
          top: 5.8%;
          left: 7%;
          width: 11%;
          // box-shadow: inset 0px 1px 5px #55a7ff, inset 0px -1px 5px #55a7ff, inset -1px 0px 5px #55a7ff, inset 1px 0px 5px #55a7ff;
          // transform: rotateZ(90deg);
        }

        .lightning {
          position: absolute;
          top: 8%;
          left: 9.5%;
          width: 6.5%;
        }

        .eman {
          position: absolute;
          top: 33%;
          left: 8%;
          width: 21%;
        }

        .line1 {
          position: absolute;
          top: 72%;
          left: 5%;
          width: 43%;
        }

        .line2 {
          position: absolute;
          top: 14%;
          left: 24%;
          width: 61.4%;
          height: 2%;
        }
      }
    }
  }
}




.footer {
  background-color: blue;
}