@font-face {
  font-family: Evolventa;
  src: local("Evolventa"), url("../fonts/evolventa/Evolventa-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Evolventa;
  src: local("Evolventa Oblique"), url("../fonts/evolventa/Evolventa-Oblique.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold"), url("../fonts/evolventa/Evolventa-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Evolventa;
  src: local("Evolventa Bold Oblique"), url("../fonts/evolventa/Evolventa-BoldOblique.woff");
  font-weight: bold;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}

.container {
  width: 1302px;
  height: 651px;
  background: url(../img/bg2.svg) no-repeat center/cover;
  font-family: "Evolventa";
}

.box {
  width: 100%;
}
.box .btn_wrap {
  position: absolute;
  width: 5.7%;
  height: 25%;
  top: 7%;
  left: 2.2%;
  padding: 0 5px;
  background-color: red;
  font-size: 0.7rem;
}
.box .btn_wrap .btn {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #ddd;
  padding-top: 10%;
}

.header {
  position: relative;
  height: 15%;
  padding-top: 1.2%;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 66% 40%, 0 40%);
}
.header hr {
  margin: 0 0 0.3% 0;
  width: 64.5%;
  border: 0.5px solid #666;
}
.header .bottom {
  width: 65%;
}
.header .step_box {
  position: absolute;
  width: 34%;
  height: 80%;
  top: 8.5%;
  right: 1.1%;
  background-color: rgba(170, 170, 170, 0.5);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
}

.main {
  position: relative;
  width: 100%;
  height: 85%;
  overflow: hidden;
}
.main .wellcome_box {
  position: absolute;
  width: 37%;
  height: 61%;
  top: 13%;
  left: 11.5%;
}
.main .wellcome_box .wellcome_img {
  position: relative;
  width: 38.5%;
  height: 82%;
  float: left;
  margin: 6% 0 0 4.5%;
  z-index: 100;
}
.main .wellcome_box .wellcome_img img {
  width: 100%;
  height: auto;
}
.main .wellcome_box .wellcome_text {
  position: relative;
  width: 45%;
  height: 60%;
  margin: 6% 0 0 47%;
  z-index: 100;
}
.main .wellcome_box .wellcome_text h1 {
  font-size: 118%;
  font-weight: normal;
  text-transform: uppercase;
  padding: 14% 0 0 0;
  line-height: 1.4;
  color: #55a7ff;
}
.main .wellcome_box .wellcome_text h1 span {
  color: #55a7ff;
  font-size: 123%;
}
.main .wellcome_box .wellcome_text p {
  width: 85%;
  font-size: 100%;
  color: #ffffff;
  padding: 11% 0 0 0;
  line-height: 1.15;
}
.main .wellcome_box .wellcome_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .wellcome_box .wellcome_frame img {
  width: 100%;
}
.main .wellcome_box .wellcome_frame .btn_wrap {
  position: absolute;
  width: 50%;
  height: 22%;
  top: 76%;
  left: 47%;
  border-radius: 0.5rem;
  background-color: rgba(7, 26, 31, 0.7);
  text-align: center;
}
.main .wellcome_box .wellcome_frame .btn_wrap a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 130%;
  margin-top: 7%;
  margin-left: -6%;
  padding: 3.5% 15%;
  border-radius: 0.2rem;
  background-image: linear-gradient(0deg, #55a7ff1a 0%, #55a7ff1a 100%);
  border: 0.5px solid rgba(85, 167, 255, 0.8);
}
.main .wellcome_box .svg_cont {
  position: absolute;
  top: 0;
  left: 110%;
}

.footer {
  background-color: blue;
}

/*# sourceMappingURL=style.css.map */
